
.megamenu
{
  height: 600px;
  width: 900px;
  background-color: white;
}

.fa-envelope:hover
{
  background-color: orange;
}

.fa-search:hover
{
  background-color: orange;
}

/* LIGNE 2*/

.banniere1
{
  height: 200px;
  width: 420px;
}

.logoorange
{
  height:40px;
}

.fa-envelope
{
  font-size: 30px;
  padding-top: 10px;
  float:right;
}

.fa-th
{
  font-size: 30px;
  padding-top: 10px;
}

.log
{
  margin-top: 7px;
  border: 1px solid black;
}

.client
{
  background: #45aaf2;
  text-align: justify;
}

.fa-user
{
  font-size: 20px;
  padding-top: 20px;
  padding-left: 20px;
}

.client1
{
  padding-top: 20px;
  padding-left: 20px;
  color: white;
}

.buy
{
  background: #d1d8e0;
  font-weight: bold;
  padding-top: 0px;
  padding-left: 10px;
  height:200px;
  width: 190px;
}


.fa-shopping-cart
{
  font-size: 30px;
  float: center;
}


.coverflow1, .coverflow2, .coverflow3, .coverflow4
{
  height: 80px;
  width: 80px;
  text-align: center;
  padding-left: 15px;
}

.coverflow
{
  padding-top: 20px;
}

.client:hover{
  background-color: #7ed6df;
}

.coverflow1:hover, .coverflow2:hover, .coverflow3:hover, .coverflow4:hover
{
  background-color: #E0E0E0;
}

.logoorange
{
  height: 45px;
  padding-right: 9px;
}

.dropdown{
  padding-right: 9px;
}

.fa-bars
{
  height:10px;
}

@media screen and (max-width: 1000px){
  #test,#test1 {
        display: none;
    }
}


@media screen and (max-width: 576px){
    .fa-envelope{
            float:left;
        }

}
