section{
  background-color: #eeeeee;
}
.musique{
  padding: 0rem;
  border:
}
.musique div{
  float: left;
}
.news{
  background-image: url("../img/sam-smith.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 130%;
  height: 15rem;
border: 0.1rem solid #eeeeee;
}
.new-div{
  padding: 0rem;
  height: 15rem;
}
.deezer{
  background-image: url("../img/deezer.png");
  background-size: 100%;
  width: 100%;
  height: 7.5rem;
border: 0.1rem solid #eeeeee;
}
.news-2{
  background-color: #eeeeee;
  width: 100%;
  height: 7.5rem;
}
.playlist{
background-image: url("../img/playlist.jpeg");
background-position: center;
background-repeat: no-repeat;
background-size: 200%;
height: 15rem;
border: 0.1rem solid #eeeeee;
}
.ecoute{
background-image: url("../img/the lounge.jpeg");
background-repeat: no-repeat;
background-size:100%;
height: 15rem;
border: 0.1rem solid #eeeeee;
}
.deezer-2{
background-image: url("../img/deezer2.jpeg");
background-repeat: no-repeat;
background-position: center;
background-size:250%;
  height: 15rem;
border: 0.1rem solid #eeeeee;
}
.lecture div{
  float: left;
}
.lecture{
  padding: 0rem;
}
.feminin{
background-image: url("../img/france football.jpeg");
background-repeat: no-repeat;
background-size:95%;
height: 15rem;
border: 0.1rem solid #eeeeee;
}
.ebook{
background-image: url("../img/au revoir la haut.jpeg");
background-repeat: no-repeat;
background-size:100%;
height: 15rem;
border: 0.1rem solid #eeeeee;
}
.angouleme{
  background-image: url("../img/angouleme.jpeg");
  background-repeat: no-repeat;
  background-size:140%;
height: 15rem;
border: 0.1rem solid #eeeeee;
}
.bd{
  background-image: url("../img/bd.jpeg");
  background-repeat: no-repeat;
  background-size:100%;
  height: 15rem;
  border: 0.1rem solid #eeeeee;
}
.audio{
  background-image: url("../img/livre audio.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size:190%;
  height: 15rem;
  border: 0.1rem solid #eeeeee;
}
.orange{
padding: 0rem;
}
.orange div{
  float: left;
}
.service{
  background-image: url("../img/donne.jpeg");
background-size: 200%;
background-position: center;
background-repeat: no-repeat;
height: 15rem;
border: 0.1rem solid #eeeeee;
}
.donne{
  background-color: #eeeeee;
  width: 100%;
  height: 7.5rem;
}
.sante{
  background-color: #eeeeee;
  width: 100%;
  height: 7.5rem;
}
.annuaire{
  background-color: #eeeeee;
  height: 7.5rem;
  width: 100%;
  text-align: center;
}
.appli{
  background-color: #eeeeee;
  height: 7.5rem;
  width: 100%;
}
.harcelement{
  background-image: url("../img/harcel.jpeg");
background-position: center;
background-repeat: no-repeat;
background-size: 150%;
  height: 15rem;
  border: 0.1rem solid #eeeeee;
}
.g4{
background-image: url("../img/4g.jpeg");
background-position: center;
background-repeat: no-repeat;
background-size: 180%;
height: 15rem;
border: 0.1rem solid #eeeeee;
}
.sponsorise{
  padding: 0rem;
}
.sponsorise div{
float: left;
}
.nissan{
  background-image: url("../img/solde.jpeg");
  height: 15rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  border: 0.1rem solid #eeeeee;
}
.mutuelle{
  width: 100%;
  height: 7.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 110%;
background-image: url("../img/mutuelle.jpeg");
}
.banque{
  width: 100%;
  height: 7.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150%;
background-image: url("../img/banque.png");
}
.avion{
  width: 100%;
  height: 7.5rem;
  background-image: url("../img/avion.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  border: 0.1rem solid #eeeeee;
}
.banque2{
  width: 100%;
  height: 7.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150%;
background-image: url("../img/banque.png");
}
.probléme{
  width: 100%;
  height: 7.5rem;
  background-image: url("../img/voiture.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 95%;
  border: 0.1rem solid #eeeeee;
}
.espagne{
  width: 100%;
  height: 7.5rem;
  background-image: url("../img/voyage.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  border: 0.1rem solid #eeeeee;
}
.velo{
width: 100%;
height: 7.5rem;
background-image: url("../img/velo.jpeg");
background-position: center;
background-repeat: no-repeat;
background-size: 150%;
border: 0.1rem solid #eeeeee;
}
.feng-shui{
  width: 100%;
  height: 7.5rem;
  background-image: url("../img/voyance.jpeg");
  border: 0.1rem solid #eeeeee;
  ;
}
.ablock{
  margin-top: 13rem;
  color: orange;
  text-shadow: 0.1rem 0.1rem black;
}
.bblock{
  margin-top: 5.5rem;
  color: orange;
  text-shadow: 0.1rem 0.1rem black;
}
.sectionnavbar{
  height: 3rem;
  margin-top: 2.5rem;
}
.sectionnavbartitle{
  font-weight: bold;
  float: left;
  margin-right: 1%;
}
.sectionnavbarli{
  font-size: 1rem;
  font-weight: bold;
  float: left;
  margin-left: 1%;
  padding-left: 1%;
  padding-top: 0.3%;
  border-left: 1px solid #bebebe;
}
.anavbar{
  color: black;
}
