section {
  background-color: #eeeeee;
}
.ablock{
  margin-top: 13rem;
  color: orange;
  text-shadow: 0.1rem 0.1rem black;
}
.bblock{
  margin-top: 5.5rem;
  color: orange;
  text-shadow: 0.1rem 0.1rem black;
}
.sectionnavbar{
  height: 3rem;
  margin-top: 3rem;
  padding: 0rem;
}
.sectionnavbartitle{
  font-weight: bold;
  float: left;
  margin-right: 1%;
}
.sectionnavbarli{
  font-size: 1rem;
  font-weight: bold;
  float: left;
  margin-left: 1%;
  padding-left: 1%;
  padding-top: 0.3%;
  border-left: 1px solid #bebebe;
}
.anavbar{
  color: black;
}
/* .sectionnavbarul li{
} */
/* Début de la section actualité */
.actublock{
  padding: 0em;
}
.actublock div{
  float: left;
}
.actublock-carousel{
  width: 100%;
  height: 100%;
}
.actublock-actu{
  height: 19.8rem;
  border: 0.1rem solid #eeeeee;
}
.actublock-people, .actublock-tendance, .actublock-zapping, .actublock-cinéma{
  height: 9.9rem;
  border: 0.1rem solid #eeeeee;
  background-color: red;
}
.actublock-tendance{
  background-color: black;
}
.actublock-zapping{
  background-color: pink;
}
.actublock-left{
  height: 10.2rem;
  padding: 0rem;
}
.actublock-meteo{
  width: 100%;
  height: 50%;
  border: 0.1rem solid #eeeeee;
  background-image: url("../img/actublock/actublock-meteo.jpg");
  background-size: 100%;
  background-position-y: 50%;
}
.actublock-cac{
  width: 100%;
  height: 50%;
  border: 0.1rem solid #eeeeee;
  background-image: url("../img/actublock/actublock-cac40.jpeg");
  background-size: 100%;
  background-position-y: 50%;
}
.actublock-center{
  height: 10.2rem;
  border: 0.1rem solid #eeeeee;
  background-image: url("../img/actublock/actublock-jsp.jpg");
  background-size: 100%;
  background-position-y: 40%;
}
.actublock-right{
  height: 10.2rem;
  padding: 0rem;
}
.actublock-acturight{
    width: 100%;
    height: 50%;
    border: 0.1rem solid #eeeeee;
    background-color: white;
    text-align: center;
    padding-top: 10%;
}
.actublock-sport{
    width: 100%;
    height: 50%;
    border: 0.1rem solid #eeeeee;
    background-color: white;
    text-align: center;
    padding-top: 10%;
}
.actupub{
  /* background-color: red;
  height: 30rem;
  border: 0.1rem solid #eeeeee; */
}
/* Fint de la section actualité */
/* Début de la section TV */
.tvblock{
  padding: 0em;
}
.tvblock div{
  float: left;
  padding: 0rem;
}
.tvblock-cesoir{
  height: 15rem;
  border: 0.1rem solid #eeeeee;
  background-image: url("../img/tvblock/tvblock-cesoir.jpg");
  background-position-y: 50%;
  background-position-x: 10%;
}
.tvblock-programme{
  height: 15rem;
}
.tvblock-direct{
  width: 100%;
  height: 50%;
  border: 0.1rem solid #eeeeee;
  background-image: url("../img/tvblock/tvblock-direct.jpeg");
  background-size: 100%;
}
.tvblock-jour{
  width: 100%;
  height: 50%;
  border: 0.1rem solid #eeeeee;
  background-image: url("../img/tvblock/tvblock-jour.jpg");
  background-size: 100%;
  background-position-y: 50%;
}
.tvblock-lemag{
  height: 15rem;
  border: 0.1rem solid #eeeeee;
  background-image: url("../img/tvblock/tvblock-lemag.jpg");
  background-size: 110%;
  background-position-y: 83%;
  background-position-x: 50%;
}
.tvblock-inedit{
  height: 15rem;
  border: 0.1rem solid #eeeeee;
  background-image: url("../img/tvblock/tvblock-inedit.jpg");
  background-size: 150%;
  background-position-x: 50%;
  background-position-y: 53%;
}
/* Fint de la section TV */
/* Début de la section Vidéo */
.videoblock{
  padding: 0em;
}
.videoblock div{
  height: 15rem;
  float: left;
}
.videoblock-comedie{
  border: 0.2rem solid #eeeeee;
  background-image: url("../img/videoblock/videoblock-comedie.png");
  background-size: 200%;
  background-position-x: 90%;
}
.videoblock-recent{
  border: 0.1rem solid #eeeeee;
  background-image: url("../img/videoblock/videoblock-recent.jpg");
  background-position-x: 25%;
}
.videoblock-policier{
  border: 0.1rem solid #eeeeee;
  background-image: url("../img/videoblock/videoblock-policier.jpg");
  background-position-x: 60%;
}
.videoblock-fantastique{
  border: 0.1rem solid #eeeeee;
  background-image: url("../img/videoblock/videoblock-fantastique.jpg");
  background-position-x: 50%;
  background-position-y: 50%;
}
.videoblock-drame{
  border: 0.1rem solid #eeeeee;
  background-image: url("../img/videoblock/videoblock-drame.jpg");
  background-position-x: 50%;
  background-position-y: 20%;
}
/* Fint de la section Vidéo */
/* Début de la section Jeux Vidéo */
.gameblock{
  padding: 0rem;
}
.gameblock div{
  float: left;
}
.gameblock-solde{
  height: 15rem;
  border: 0.1rem solid #eeeeee;
  background-image: url("../img/gameblock/gameblock-soldes.jpg");
  background-size: 100%;
  background-position-y: 40%;
}
.gameblock-pub{
  height: 15rem;
  padding: 0rem;
}
.gameblock-bonplan{
  width: 100%;
  height: 50%;
  border: 0.1rem solid #eeeeee;
  background-image: url("../img/gameblock/gameblock-BP.jpg");
  background-size: 100%;
  background-position-y: 60%;
}
.gameblock-jeuxpref{
  width: 100%;
  height: 50%;
  border: 0.1rem solid #eeeeee;
  background-image: url("../img/gameblock/gameblock-jeuxpref.jpg");
  background-size: 100%;
  background-position-y: 50%;
}
.gameblock-passe{
  height: 15rem;
  border: 0.1rem solid #eeeeee;
  background-image: url("../img/gameblock/gameblock-pass.jpg");
  background-position-y: 33%;
  background-position-x: 70%;
}
/* Fint de la section Jeux Vidéo */
